* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0; 
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color:black;
    background-color: white;
}

.main-box {
    display: flex;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}


.header-container {
background-color:#BDCDD6;
height: 70px;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    font-size: larger;
}

.nav-link {
    padding: 10px 15px;
    border-radius: 5px;
    line-height: 50px;
    transition: .3s;
    text-decoration: none;
    color:#6096B4;
}

.nav-link:hover {
    background-color:#EEE9DA;
    color: black;
}

html {
    scroll-behavior: smooth; 
}

.main-container-left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 500px;
    padding: 50px;
    background-color: #f3f4f5;
    align-items: center;
}


.main-container-right {
    display: flex;
    padding-left: 70px;
    flex-direction: column;
    flex-wrap: wrap; 
}

.section-list {
    padding: 0;
    margin: 0;
    list-style: none;
}    

.section-item a {
    color:#6096B4;
    text-decoration: none;  
    transition: color 0.5s;
}

.section-item a:hover {
    color: black;
}


.section {
    width: 100%
}

.section-title {
    font-size: 20px;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #829985;
    background-color: #EEE9DA;
    width: 230px;
}


.name {
    background-color: #93BFCF;
    width: 250px; 
    color: white;
    padding: 5px;
    margin-left: -25px;
}

.section-alena {
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: #EEE9DA;
}

.img {
padding-top: 20px;
align-self: center;
}

.ocupation {
    color:#6096B4;
    font-size: 20px;
    font-weight: light;
    text-align: end;
    padding-right: 15px;
}

.link {
    text-decoration: none;
    color: #829985;
    transition: color 0.5s;
}

.link:hover {
    color: #5d7260;
}

.footer-container {
    display: flex;
    background-color: #BDCDD6;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

.my-github {
    text-decoration: none;
    transition: .3s;
    color:#6096B4;
}

.my-github:hover {
    color: black;
}

@media (max-width: 800px) {

    .section {
        width: 50%;
    }

    .main-box {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .code {
        font-size: small;
    }

    .nav-list {
        display: none;
    }

    body {
    min-width: 80vh;
}

.container .footer-container{
    font-size: small;
    flex-direction: column;
    align-self: center;   
}
}